/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

 /* Small screens (default) */
 html { font-size: 100%; }

 /* Medium screens (640px) */
 @media (min-width: 40rem) {
   html { font-size: 112%; }
 }

 /* Large screens (1024px) */
 @media (min-width: 64rem) {
   html { font-size: 120%; }
 }

/* --- Overall page layout ---- */
html, body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  max-width: rem-calc(100%);
  width: 100%;
  position: relative;
}

/* --- Navigation ---*/

.sidenav_container {
  max-width: rem-calc(25%);
  width: 25%;
  background-color: #000000;
  float: left;
}

.sidenav_container ul {
  list-style: none;

}

.sidenav_container ul li {
  color: #FFFFFF;
}

/* --- Main Content --- */

.main_container {
  max-width: rem-calc(75%);
  width: 75%;
  float: left;
}
