<h1>Posts#new</h1>
<p><em>Find me in app/views/posts/new.html.erb</em></p>

    <%= form_for @post do |f| %>
      <%= f.text_field :title, :placeholder => "Enter a short title for your post..." %><br />
      <%= f.text_area :content, :placeholder => "Give more details here..." %><br />
      <%= f.submit 'Add your post', class: 'button'  %><br />
    <% end %>
